{% extends 'layout.html' %}
{% block body%}
 <div class="all_courses">
   {% for course in courses %}
     <div class = "courses_item">
         <p>{{ course.department}}</p>
     </div>
    <div class = "courses_item">
              <p>{{course.name}}</p>
         </div>
    <div class = "courses_item">
               <p>{{course.first_day}}</p>
          <p>{{course.second_day}}</p>
         </div>
    <div class = "courses_item">
                   <p>{{course.start_time}}</p>
           <p>until</p>
          <p>{{course.end_time}}</p>
             </div>
    <br>
   {% endfor %}
     </div>


{% endblock %}